<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
    >

    <testsuites>
        <testsuite name="functional tests with phpcr">
            <directory>./tests/Functional</directory>
        </testsuite>

        <testsuite name="unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <file>*Bundle.php</file>
                <directory>Resources/</directory>
                <directory>Admin/</directory>
                <directory>tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
